<main>
  <!--
    - #SIDEBAR
  -->

  <app-sidebar></app-sidebar>

  <!--
    - #main-content
  -->

  <div class="main-content">
    <!--
      - #NAVBAR
    -->

    <app-navbar></app-navbar>

    <!--
      - #ABOUT
    -->

    <app-aboutme></app-aboutme>

    <!--
      - #RESUME
    -->

    <app-resume></app-resume>

    <!--
      - #PORTFOLIO
    -->

    <app-porpofolio></app-porpofolio>

    <!--
      - #BLOG
    -->

    <app-blog></app-blog>

    <!--
      - #CONTACT
    -->

    <app-contact></app-contact>
  </div>
</main>
